.RandomPlanet {
  background: #212121;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RandomPlanet-info p {
  display: flex;
  flex-direction: row;

}

.RandomPlanet-term {
  padding-right: 10px;
}

.RandomPlanet-photo {
  margin-right: 25px;
}

.RandomPlanet-photo > img {
  width: 250px;
  height: auto;
  transition: all 50ms;
}

@media screen and (max-width: 769px) {
  .RandomPlanet-photo {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .RandomPlanet {
    flex-direction: column;
  }
}
