@keyframes lds-double-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-double-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes lds-double-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes lds-double-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.lds-double-ring {
  position: relative;
}
.lds-double-ring div {
  box-sizing: border-box;
}
.lds-double-ring > div {
  position: absolute;
  width: 86px;
  height: 86px;
  top: 57px;
  left: 57px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #655c0d transparent #655c0d transparent;
  -webkit-animation: lds-double-ring 3.1s linear infinite;
  animation: lds-double-ring 3.1s linear infinite;
}
.lds-double-ring > div:nth-child(2),
.lds-double-ring > div:nth-child(4) {
  width: 70px;
  height: 70px;
  top: 65px;
  left: 65px;
  -webkit-animation: lds-double-ring_reverse 3.1s linear infinite;
  animation: lds-double-ring_reverse 3.1s linear infinite;
}
.lds-double-ring > div:nth-child(2) {
  border-color: transparent #ffeb3b transparent #ffeb3b;
}
.lds-double-ring > div:nth-child(3) {
  border-color: transparent;
}
.lds-double-ring > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.lds-double-ring > div:nth-child(3) div:before,
.lds-double-ring > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  top: -6px;
  left: 34px;
  background: #655c0d;
  border-radius: 50%;
  box-shadow: 0 80px 0 0 #655c0d;
}
.lds-double-ring > div:nth-child(3) div:after {
  left: -6px;
  top: 34px;
  box-shadow: 80px 0 0 0 #655c0d;
}
.lds-double-ring > div:nth-child(4) {
  border-color: transparent;
}
.lds-double-ring > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.lds-double-ring > div:nth-child(4) div:before,
.lds-double-ring > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  top: -6px;
  left: 26px;
  background: #ffeb3b;
  border-radius: 50%;
  box-shadow: 0 64px 0 0 #ffeb3b;
}
.lds-double-ring > div:nth-child(4) div:after {
  left: -6px;
  top: 26px;
  box-shadow: 64px 0 0 0 #ffeb3b;
}
.lds-double-ring {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
}
