.ItemDetails {
  background: #e6e4e4;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: row;
}

.ItemDetails-empyt {
  padding: 16px 32px;
}

.ItemDetails-image {
  width: 300px;
  height: auto;
}

.ItemDetails-info {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
}

.ItemDetails-info > * {
  margin-bottom: 0;
}
